{% extends 'main.html' %}

{% block content %}
    <h5>== > {{vmq_count}} deleted VMQs </h5>

    <p>Select the VMQ you want to restore : </p>

    {% for vmq in vmqs %}
    <div>
        <a href="{% url 'restore-vmq' vmq.id %}">Restore</a>
        <h5> - <a href="">{{vmq.reference}}</a> -- Workshop : {{vmq.workshop}}</h5>
        <h5>Comment : {{vmq.comment}}</h5>
        <hr>
    </div>
    {% endfor %}
    <a href="{% url 'vmq' %}">Cancel</a>
    <input type="Submit" value = "Confirm">

{% endblock content%}