{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 mb-lg-0 mb-4 offset-2"  style="width: 90%; margin: auto;"> 
    <div class="card z-index-2 ">
        <div class="card-header pb-0">
            <h6>CREATE A NEW VMQ</h6>
            <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <form action="" method="POST">  
                {% csrf_token %}
                <style>
                    .form-row{
                        display: grid;
                        grid-template-columns: 2fr 2fr 3fr;
                        margin: 1.5em;
                    }
                    .form-group{
                        width: 95%;
                    }
                    .input-form{
                        border: 1px solid #bcb9b9;
                        padding: .5rem;
                        border-radius: 10px;
                        width: 95%;
                        margin-bottom: .5em;
                    }
                </style>
                <div class="form-row">
                    <div class="form-group">
                        {{ vmq_form.user|as_crispy_field }}
                    </div>
                    <div class="form-group">
                      {{ vmq_form.visit_date|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="id_vmq_employee_visited" class=" requiredField">
                            Visited (Matricule - Name - Workshop)<span class="asteriskField">*</span>
                        </label>
                      <select name="employee" class="select form-control" required="" id="id_employee">
                        {% for employee in latest_employee_visited %}
                        <option selected value="{{employee.matricule}}">{{employee.matricule}} - {{employee.names}} - {{employee.workshop.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <hr style="height: 2px; margin: 0 2em 0 2em;">
                  <div class="form-row">
                    <div class="form-group">
                        <div class="table-responsive p-0">
                            <table style="width: 95%;" class="table bordered">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Theme</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Item</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Results</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Types</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Comment</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Defered/Immediate</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="min-width: 15em;">Responsible</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="min-width: 12em;">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td style="width: 15em;">
                                                <h6><span class="text-secondary text-xs font-weight-bold">{{item.theme}}</span></h6>
                                            </td>
                                            <td style="width: 18em;">
                                                <h6><span class="text-secondary text-xs font-weight-bold">{{item.name}}</span></h6>
                                            </td>
                                            <td>
                                                <input type="hidden" name="item-id" value="{{item.id}}">
                                                <select style="width: 10.5em;" name="result" class="select form-select">
                                                    <option>Conforme</option>
                                                    <option>Non Conforme</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select style="width: 8.5em;" name="type" class="select form-select">
                                                    <option>Application</option>
                                                    <option>Disposition</option>
                                                </select>
                                            </td>
                                            <td>
                                                <center><input style="width: 9em;"class="input-form" type="text" name="comment"/></center>
                                            </td>
                                            <td>
                                                <center><input style="min-width: 9em;" class="input-form" type="text" name="action"/></center>
                                            </td>
                                            <td>
                                                <center>{{ vmq_item_form.defer_immediate|as_crispy_field }}</center>
                                            </td>
                                            <td>
                                                <center>{{ vmq_item_form.responsible|as_crispy_field }}</center>
                                            </td>
                                            <td>
                                                <center>{{ vmq_item_form.date|as_crispy_field }}</center>
                                            </td>


                    
                                        {% empty %}
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">No items have been added</span>
                                            </td>
                                        </tr>    
                                        {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                  
                <br>
                <center><div>
                    <a class ="btn btn-outline-primary btn-sm mb-0 me-3" onclick="history.back()">Cancel</a>
                    <input  type="submit" value="Submit" class="btn btn-outline-primary btn-sm mb-0 me-3" >
                </div></center>
            </form> 
        </div>
    </div>
</div>

{% endblock content%}
