
<div class="col-lg-6 mb-lg-0 mb-4 offset-2"> 
    <div class="card z-index-2 " height="10">
        <div class="card-header pb-0">
        <h6>CREATE NEW PRODUCT</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <form action="" method="">  
                <label  for="Name"> Name :</label>
                <input type ="text" id="Name " name="Name"  class="form-control"> 
                <br>  
                <label  for="Comment"> Comment:</label>
                <input type ="text" id="Comment " name="Comment"  class="form-control"> 
                </select> 
                <br>
                <center> <input  type="submit" value="Submit" class="btn btn-outline-primary btn-sm mb-0 me-3" ></center>
            </form> 
        </div>
    </div>
</div>



<!-------------------------------------------- Card For table------------------------------------------------------------->
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
        <h6>List VMS</h6>
        <hr>
        <a class="btn bg-gradient-dark  mb-0" href="C:\Users\farah kouki\Desktop\projet\createVMS .html" style="float: left;"><i class=" fas fa-plus " aria-hidden="true"  ></i>&nbsp;&nbsp;Create VMS</a>
        </br>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Visitor</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Visited</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">Farah</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">Marwa</span>
                </td>
                    <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">29/06/2020</span>
                    </td> 
                </tr>
                <tr>
                <td>
                    <div class="d-flex px-2 py-1">
                    </div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>