{% extends 'main.html' %}

{% block content %}
    <h5>== > {{workshop_count}} deleted workshop for this product</h5>

    <p>Select the workshop you want to restore : </p>

    {% for workshop in workshops %}
    <div>
        <a href="{% url 'restore-workshop' division_id program_id product_id workshop.id %}">Restore</a>
        <h5> - <a href="">{{workshop.name}}</a> -- Product : {{workshop.product}}</h5>
        <h5>Description : {{workshop.description}}</h5>
        <hr>
    </div>
    {% endfor %}
    <a href="{% url 'workshop' division_id program_id product_id %}">Cancel</a>
    <input type="Submit" value = "Confirm">

{% endblock content%}