{% extends 'main.html' %}

{% block content %}

<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <style>
                .container{
                    display: flex;
                    justify-content: space-between;
                }
                .align-middle a{
                    font-weight: bold;
                    color: #489835;
                    margin: .2em;
                } 
            </style>
            <div class="container">
                <h6>WORKSHOPS : {{workshop_count}} deleted for this product</h6>
                <a class ="btn btn-outline-primary btn-sm mb-0 me-3" onclick="history.back()">Cancel</a>
            </div>
            <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
            </tr>
            </thead>
            <tbody>
                    {% for workshop in workshops %}
                    <tr>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{workshop.product}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{workshop.name}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{workshop.description}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <a href="{% url 'restore-workshop' division_id program_id product_id workshop.id %}"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Restore</a>
                        </td>

                    {% empty %}
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">No data</span>
                        </td>
                    </tr>    
                    {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock content%}






<!-- <h5>== > {{workshop_count}} deleted workshop for this product</h5>

<p>Select the workshop you want to restore : </p>

{% for workshop in workshops %}
<div>
    <a href="{% url 'restore-workshop' division_id program_id product_id workshop.id %}">Restore</a>
    <h5> - <a href="">{{workshop.name}}</a> -- Product : {{workshop.product}}</h5>
    <h5>Description : {{workshop.description}}</h5>
    <hr>
</div>
{% endfor %}
<a href="{% url 'workshop' division_id program_id product_id %}">Cancel</a>
<input type="Submit" value = "Confirm"> -->

