{% extends 'main.html' %}

{% block content %}
    <h5>== > {{product_count}} deleted products for this program</h5>

    <p>Select the product you want to restore : </p>

    {% for product in products %}
    <div>
        <a href="{% url 'restore-product' division_id program_id product.id %}">Restore</a>
        <h5> - <a href="">{{product.name}}</a> -- Program : {{product.program}}</h5>
        <h5>Description : {{product.description}}</h5>
        <hr>
    </div>
    {% endfor %}
    <a href="{% url 'product' division_id program_id %}">Cancel</a>
    <input type="Submit" value = "Confirm">

{% endblock content%}