{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 mb-lg-0 mb-4 offset-2"> 
    <div class="card z-index-2 " height="10">
        <div class="card-header pb-0">
        <h6>VMQ PLANNING DATE SELECTION</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2" style="margin: 2em;">
            <form action="" method="POST">  
                {% csrf_token %}

                <div style="display: flex; min-width:100%; justify-content:center;">
                    <select style="width: 10.5em;" name="month" class="select form-select">
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>Aug</option>
                        <option>Sept</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>
                    <input class="select form-select" style="max-width: 10em; margin: 0 1.5em 0 3em;" type="number" name="year" min="2022" max="2100" step="1" value="2022" />    
                </div>

                <br>
                <br>
                <center><div>
                    <a class ="btn btn-outline-primary btn-sm mb-0 me-3" onclick="history.back()">Cancel</a>
                    <input  type="submit" value="Generate VMS Planning" class="btn btn-outline-primary btn-sm mb-0 me-3" >
                </div></center>
            </form> 
        </div>
    </div>
</div>

{% endblock content%}
