{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 mb-lg-0 mb-4 offset-2"  style="width: 90%; margin: auto;"> 
    <style>
        .first-btn{
            margin-left: 1em;
            margin-bottom: 1em;
        }
    </style>
    <div class="first-btn">
        <a class ="btn btn-outline-primary btn-sm mb-0 me-3" href="{% url 'vmq-planning-list' %}">BACK</a>
    </div>    
    <div class="card z-index-2 ">
        <div class="card-header pb-0">
        <h6>VMQ PLANNING - {{vmq_planning.0.month}} {{vmq_planning.0.year}} </h6>
        <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">

                <div class="form-row">

                    <div class="form-group">
                        <style>
                            .table-responsive h5{
                                width: 95%;
                                padding: .3em;
                                font-size: 1em;
                            }
                        </style>
                        <div class="table-responsive p-0">
                            <table style="width: 95%;" class="table bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Matricule</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Visitor</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Department</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Matricule</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Visited</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Workshop</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Closed</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in vmq_planning %}
                                        <tr>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_qualified.matricule}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_qualified}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_qualified.department}}</span>
                                            </td>
                                            <td class="align-middle text-center" style="border-left : 1px solid #adadad62">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_visited.matricule}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_visited}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_visited.program}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_visited.product}}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.vmq_employee_visited.workshop}}</span>
                                            </td>
                                            <td class="align-middle text-center" style="border-left : 1px solid #adadad62">
                                                <span class="text-secondary text-xs font-weight-bold">{{row.closed}}</span>
                                            </td>
                                            <td class="align-middle text-center" style="border-left : 1px solid #adadad62">
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="row_to_remove" value="{{row.id}}">
                                                    <button type="submit" value="Submit" style="border: none; background: transparent;"><i class="fa-solid fa-trash-can" style="color:#E64848;"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}     
                                </tbody>
                            </table>
                            <center>
                                <a href="{% url 'create-row-vmq-planning' vmq_planning.0.month vmq_planning.0.year %}" style="font-size: 2em; color:#d135bc;"><i class="fa-solid fa-plus"></i></a>
                            </center>
                        </div>
                    </div>
                  </div>
                <center><div>
                    <a class ="btn btn-outline-primary btn-sm mb-0 me-3" href="{% url 'vmq-planning' vmq_planning.0.month vmq_planning.0.year %}">BACK</a>
                </div></center>
        </div>
    </div>
</div>

{% endblock content%}
