{% extends 'main.html' %}

{% block content %}
    <h5>== > {{program_count}} deleted programs for this division</h5>

    <p>Select the program you want to restore : </p>

    {% for program in programs %}
    <div>
        <a href="{% url 'restore-program' division_id program.id %}">Restore</a>
        <h5> - <a href="">{{program.name}}</a> -- Division : {{program.division}}</h5>
        <h5>Description : {{program.description}}</h5>
        <hr>
    </div>
    {% endfor %}
    <a href="{% url 'program' division_id %}">Cancel</a>
    <input type="Submit" value = "Confirm">

{% endblock content%}