{% extends 'main.html' %}

{% block content %}

<div>
    <h5>{{program_count}} programs registered for this division</h5>
    <a href="{% url 'create-program' division_id %}">Create A Program</a>
    <a href="{% url 'deleted-program' division_id %}">Restore A Program</a>

    {% for program in programs %}
        <div>
            <a href="{% url 'update-program' division_id program.id %}">Edit</a>
            <a href="{% url 'delete-program' division_id program.id %}">Delete</a>

            <h5> - <a href="">{{program.name}}</a> -- Division : {{program.division}}</h5>
            <h5>Description : {{program.description}}</h5>
            <hr>
        </div>
    {% endfor %}
</div>


{% endblock content%}
