{% extends 'main.html' %}

{% block content %}

<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <style>
                .container{
                    display: flex;
                    justify-content: space-between;
                }
                .restore{
                    margin-left: 11em;
                }
            </style>
            <div class="container">
                <h6>QUALIFICATIONS : {{qualification_count}} registered</h6>
            </div>
            <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employee</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">VMS Qualification</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">VMQ Qualification</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">5S Qualification</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
            </tr>
            </thead>
            <tbody>
                    {% for qualification in qualifications %}
                    <tr>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{qualification.employee}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{qualification.vms_qualification}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{qualification.vmq_qualification}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{qualification.fives_qualification}}</span>
                        </td>
                        <td class="align-middle text-center">
                            <a href="{% url 'update-qualification' qualification.id %}"><i class="fa-solid fa-pen-to-square" style="color:blue"></i></a>
                            |
                            <a href="{% url 'delete-qualification' qualification.id %}"><i class="fa-solid fa-trash-can" style="color:#E64848"></i></a>
                        </td>

                    {% empty %}
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">No data</span>
                        </td>
                    </tr>    
                    {% endfor %}
                    
            </tbody>
            </table>
        </div>
        </div>
    </div>
</div>

{% endblock content%}



