{% extends 'main.html' %}

{% block content %}
    <h5>== > {{item_count}} deleted items for this theme </h5>

    <p>Select the item you want to restore : </p>

    {% for item in items %}
    <div>
        <a href="{% url 'restore-item' theme_id item.id %}">Restore</a>
        <h5> - <a href="">{{item.name}}</a> -- Theme : {{item.theme}}</h5>
        <h5>Description : {{item.description}}</h5>
        <hr>
    </div>
    {% endfor %}
    <a href="{% url 'item' theme_id %}">Cancel</a>
    <input type="Submit" value = "Confirm">

{% endblock content%}