{% extends 'main.html' %}

{% block content %}

<div>
    <h5>{{division_count}} divisions registered</h5>
    <a href="{% url 'create-division' %}">Create A Division</a>
    <a href="{% url 'deleted-division' %}">Restore A Division</a>

    {% for division in divisions %}
        <div>
            <a href="{% url 'update-division' division.id %}">Edit</a>
            <a href="{% url 'delete-division' division.id %}">Delete</a>

            <h5> - <a href="{% url 'program' division.id %}">{{division.name}}</a> -- Location : {{division.location}}</h5>
            <h5>Description : {{division.description}}</h5>
            <hr>
        </div>
    {% endfor %}
</div>
<div class="col-lg-6 mb-lg-0 mb-4 offset-2"> 
    <div class="card z-index-2 " height="10">
        <div class="card-header pb-0">
        <h6>CREATE NEW PRODUCT</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <form action="" method="">  
                <label  for="Name"> Name :</label>
                <input type ="text" id="Name " name="Name"  class="form-control"> 
                <br>  
                <label  for="Comment"> Comment:</label>
                <input type ="text" id="Comment " name="Comment"  class="form-control"> 
                </select> 
                <br>
                <center> <input  type="submit" value="Submit" class="btn btn-outline-primary btn-sm mb-0 me-3" ></center>
            </form> 
        </div>
    </div>
</div>





{% endblock content%}
