{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 mb-lg-0 mb-4 offset-2"  style="width: 90%; margin: auto;"> 
    <div class="card z-index-2 ">
        <div class="card-header pb-0">
        <h6>VMS - DETAILS</h6>
        <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
                <style>
                    .form-row{
                        display: flex;
                        margin: 1.5em;
                    }
                    .form-group{
                        margin-left: .5em;
                        width: 100%;
                    }
                    .form-group h5{
                        background: transparent;
                        border: 1px solid #bcb9b9;
                        padding: .5rem;
                        border-radius: 10px;
                        width: 100%;
                        font-weight: 500;
                        outline: none;
                        margin-bottom: 1em;
                        font-size: 1em;
                    }
                    .form-group h6{
                        font-size: .8em;
                        margin-left: .2em;
                    }
                </style>
                <div class="form-row">
                    <div class="form-group">
                        <h6>Visitor :</h6>
                        <h5>{{vms.user}}</h5>
                    </div>
                    <div class="form-group">
                        <h6>Reference :</h6>
                        <h5>{{vms.reference}}</h5>
                    </div>
                    <div class="form-group">
                        <h6>Date :</h6>
                        <h5>{{vms.visit_date}}</h5>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group">
                        <h6>Visited :</h6>
                        <h5>{{vms.employee}}</h5>
                    </div>
                    <div class="form-group">
                        <h6>Workshop :</h6>
                        <h5>{{vms.workshop}}</h5>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group">
                        <style>
                            .table-responsive h5{
                                width: 95%;
                                padding: .3em;
                            }
                        </style>
                        <div class="table-responsive p-0">
                            <table style="width: 95%;" class="table bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Observations</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Condition Type</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dialogue Answer</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action Type</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Manager / Delay</th>
                                    </tr>
                                </thead>
                                <style>
                                    .textarea_details{
                                        width: 17em;
                                        min-width: 17em;
                                        height: 10em; 
                                        min-height: 10em; 
                                        font-size: .8em;
                                    }
                                    .case{
                                        font-size: .8em;
                                        height: .5em;
                                    }
                                </style>
                                <tbody class='field_wrapper'>
                                    {% for vms_item in vms_items %}
                                        <tr>
                                            <td>
                                                <h5 class="form__group"><p class="textarea_details">{{vms_item.observation}}</p></h5>
                                            </td>
                                            <td>
                                                <h5 style="margin-top: 3.5em;" class="form__group"><p class="case">{{vms_item.condition_type}}</p></h5>
                                            </td>
                                            <td>
                                                <h5 class="form__group"><p class="textarea_details">{{vms_item.dialogue_answer}}</p></h5>
                                            </td>
                                            <td>
                                                <h5 style="margin-top: 3.5em;" class="form__group"><p class="case">{{vms_item.action_type}}</p></h5>
                                            </td>
                                            <td>
                                                <h5 class="form__group"><p class="textarea_details">{{vms_item.action}}</p></h5>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <h5 style="margin-top: 2em;" class="form__group"><p class="case">{{vms_item.manager}}</p></h5>
                                                    <h5 class="form__group"><p class="case">{{vms_item.delay}}</p></h5>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}     
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                <center><div>
                    <a class ="btn btn-outline-primary btn-sm mb-0 me-3" onclick="history.back()">BACK</a>
                </div></center>
        </div>
    </div>
</div>

{% endblock content%}
