{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-lg-6 mb-lg-0 mb-4 offset-2"  style="width: 90%; margin: auto;"> 
    <div class="card z-index-2 ">
        <div class="card-header pb-0">
            <h6>UPDATE THE PASSATION</h6>
            <hr>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <form action="" method="POST">  
                {% csrf_token %}
                <style>
                    .form-row{
                        display: flex;
                        margin: 1.5em;
                    }
                    .form-group{
                        margin-left: .5em;
                        width: 100%;
                    }
                    .input-form{
                        border: 1px solid #bcb9b9;
                        padding: .5rem;
                        border-radius: 10px;
                        width: 95%;
                        margin-bottom: .5em;
                    }
                </style>
                    <div class="form-row">
                        <div class="form-group">
                        {{ passation_form.transmitter|as_crispy_field }}
                        </div>
                        <div class="form-group">
                        {{ passation_form.receiver|as_crispy_field }}
                        </div>
                    </div>
                  <hr style="height: 2px; margin: 0 2em 0 2em;">
                  <div class="form-row">
                    <div class="form-group">
                        <div class="table-responsive p-0">
                            <table style="width: 95%;" class="table bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">MSN</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Add/Del</th>
                                    </tr>
                                </thead>

                                <tbody class='field_wrapper' id="body">
                                    {% for action, status in action_status %}
                                    <tr>
                                        <td>
                                            <select name="action" class="select form-control"  required>
                                                <option {% if action.action == 'Avancement' %}selected{% endif %} value="Avancement">Avancement</option>
                                                <option {% if action.action == 'Matière' %}selected{% endif %} value="Matière">Matière</option>
                                                <option {% if action.action == 'RH' %}selected{% endif %} value="RH">RH</option>
                                                <option {% if action.action == 'Milieu' %}selected{% endif %} value="Milieu">Milieu</option>
                                                <option {% if action.action == 'Méthode' %}selected{% endif %} value="Méthode">Méthode</option>
                                                <option {% if action.action == 'Formation' %}selected{% endif %} value="Formation">Formation</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="status" class="select form-control" required>
                                                <option {% if status == 'A faire' %}selected{% endif %} value="A faire">A faire</option>
                                                <option {% if status == 'En cours' %}selected{% endif %} value="En cours">En cours</option>
                                                <option {% if status == 'Cloturé' %}selected{% endif %} value="Cloturé">Cloturé</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <center><input class="input form-control" type="text" maxlength="19" placeholder="e.g : A320" value="{{action.msn}}" name="msn"/></center>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <center><a style="font-size: 1.5em; color:#E64848;" href="javascript:void(0);" class="remove_button" title="remove field">✖</a></center>
                                            </div>
                                        </td>
                                    </tr>   
                                    {% endfor %}

                                </tbody>
                            </table>
                            <center><a style="font-size: 2em; font-weight: bold" href="javascript:void(0);" class="add_button" title="Add field">+</a></center>

                        </div>
                    </div>
                  </div>
                <center><div>
                    <a class ="btn btn-outline-primary btn-sm mb-0 me-3" onclick="history.back()">Cancel</a>
                    <input  type="submit" value="Submit" class="btn btn-outline-primary btn-sm mb-0 me-3" >
                </div></center>
            </form> 
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var addButton = $('.add_button'); //Add button selector
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var fieldHTML = 
            '<tr>\
                <td>\
                    <select name="action" class="select form-control" required>\
                        <option selected value="Avancement">Avancement</option>\
                        <option value="Matière">Matière</option>\
                        <option value="RH">RH</option>\
                        <option value="Milieu">Milieu</option>\
                        <option value="Méthode">Méthode</option>\
                        <option value="Formation">Formation</option>\
                    </select>\
                </td>\
                <td>\
                    <select name="status" class="select form-control" required>\
                        <option selected value="A faire">A faire</option>\
                        <option value="En cours">En cours</option>\
                        <option value="Cloturé">Cloturé</option>\
                    </select>\
                </td>\
                <td>\
                    <div class="form-group">\
                        <center><input class="input form-control" type="text" maxlength="19" placeholder="e.g : A320" name="msn"/></center>\
                    </div>\
                </td>\
                <td>\
                    <div class="form-group">\
                        <center><a style="font-size: 1.5em; color:#E64848;" href="javascript:void(0);" class="remove_button" title="remove field">✖</a></center>\
                    </div>\
                </td>\
            </tr>'
            
            //Once add button is clicked
            $(addButton).click(function(){
                $(wrapper).append(fieldHTML); //Add field html
                
            });
            //Once remove button is clicked
            $(wrapper).on('click', '.remove_button', function(e){
                e.preventDefault();
                $(this).parent('center').parent('div').parent('td').parent('tr').remove();
            });
        });
    </script>
</div>


{% endblock content%}
